<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>自定义组件预览页</title>
</head>
<body>
  <div id="root"></div>
  <script src="https://storage.360buyimg.com/cdnnpm/react16.8.6/react.development.js"></script>
  <script src="https://storage.360buyimg.com/cdnnpm/react-dom16.8.6/react-dom.development.js"></script>
</body>
</html>
