/*!
 * uchart-custom-widget v1.2.10
 * author: wibetter
 * build tool: AKFun
 * build time: Mon Feb 27 2023 10:29:41 GMT+0800 (中国标准时间)
 * build tool info: https://github.com/wibetter/akfun
 */.u-charts-container[data-v-46fb2cf5]{-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-justify-content:center;justify-content:center}.u-charts-container .u-charts[data-v-46fb2cf5]{height:280px;margin:10px auto;width:370px}